/* sign up */
.toggle-button {
  cursor: pointer;
}

/* header */
.droping {
  position: absolute;
  top: 3rem ;
  left: calc(100% - 15rem ) !important;
 
}

/* auth */
.auth-bd{
  background-color: #414BA3;
  padding-top: 3rem;
}

.l-navbar::-webkit-scrollbar {
  width: 8px !important; /* adjust the width as needed */
  overflow-y: auto;
}

.l-navbar::-webkit-scrollbar-thumb {
  background-color: #888; /* color of the scrollbar thumb */
  border-radius: 4px; /* round the corners of the thumb */
}

/* dashboard */
.text-poppins {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #1D242E;
  }
  .text-poppins-bold {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #1D242E;
  }
  .text-poppins-regular {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #1D242E;
    font-size: 12px;
  }
  .text-poppins-semibold {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    color: #1D242E;
    font-size: 16px;
  }
  

  .bg-danger-light {
    background-color: #f8d7da; /* Lighter shade of red (adjust the color as needed) */
  }
  .bg-info-light {
    background-color: #d1ecf1; /* Lighter shade of blue (adjust the color as needed) */
  }
  .bg-warning-light {
    background-color: #fff3cd; /* Lighter shade of yellow (adjust the color as needed) */
  }
  .bg-success-light {
    background-color: #d4edda; /* Lighter shade of green (adjust the color as needed) */
  }

  /* DatePickerStyles.css */
.custom-datepicker{
    cursor: pointer;
}
.custom-datepicker-wrapper {
    cursor: pointer;
  }

  /* :fullscreen */
.fullscreen{
  min-height: calc(100dvh - 2rem);
}

  /* point of entry */
  .dropdown-menu.dropdown-menu-right{
    right: 0 !important;
    left: auto !important;
  }
  
  .empty-cart{
    background-color: #a0a0a0;
  }
  .ordersCard{
    height: 30vh;
    /* background-color: #1D242E; */
    overflow-y: auto;
  }
  .ordersCard::-webkit-scrollbar {
    width: 8px; /* adjust the width as needed */
  }

  .ordersCard::-webkit-scrollbar-thumb {
    background-color: #888; /* color of the scrollbar thumb */
    border-radius: 4px; /* round the corners of the thumb */
  }
  .order-display{
    cursor: pointer;
  }
  .order-display-bg{
    background-color: #f3f7f7;
  }
  .order-display:hover{
    background-color: #e6e9e9;
  }
  .sales-entry-container{
    height: calc(100dvh - 3rem) !important;
  }
  .inventory-select{
    height: calc(100dvh - 5.8rem);
    background-color: #858585;
    overflow-y: auto;
  }
  .order-cards{
    height: calc(100dvh - 15rem);
  }

  .orders-display{
    height: calc(100dvh - 9rem );
    background-color: #808080;
    overflow-y: auto;
  }
  .orders-display::-webkit-scrollbar {
    width: 8px !important; /* adjust the width as needed */
    overflow-y: auto;
  }

  @media (max-width: 768px) {
    .inventory-select{
      height: calc(100dvh - 14rem);
    }
  }
  .inventory-select::-webkit-scrollbar {
    width: 8px !important; /* adjust the width as needed */
  }

  .inventory-select::-webkit-scrollbar-thumb {
    background-color: #413f3f !important; /* color of the scrollbar thumb */
    border-radius: 4px; /* round the corners of the thumb */
  }

  .medicine-card{
    padding: 1px;
  }

  .triangle {
    width: 0;
    height: 0;
    border-left: 40px solid transparent; /* Adjust size as needed */
    border-bottom: 40px solid transparent; /* Adjust size as needed */
    border-top: 40px solid #93a6b9; /* Triangle color */
  }

  .scrollable-list {
    max-width: 300px; /* Set a maximum width to enable horizontal scrolling */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
  }
  .scrollable-list::-webkit-scrollbar {
    height: 8px; /* adjust the width as needed */
  }

  .scrollable-list::-webkit-scrollbar-thumb {
    background-color: #615d75; /* color of the scrollbar thumb */
    border-radius: 4px; /* round the corners of the thumb */
  }

.payment-step{
  height: calc(100dvh - 7rem);
    /* background-color: #858585; */
}
 
.print-receipt{
  height: calc(100dvh - 3rem);
}

@media (min-width: 768px) {
  .print-receipt{
    height: calc(100dvh - 7rem);
  }
}

.center-receipt{
  height: calc(50dvh - 3rem);
}
.receipt{
  overflow-y: auto;
}
.receipt::-webkit-scrollbar {
  width: 8px; /* adjust the width as needed */
}

.receipt::-webkit-scrollbar-thumb {
  background-color: #888; /* color of the scrollbar thumb */
  border-radius: 4px; /* round the corners of the thumb */
}
 
.col-9, .col-3, .col-6, .col-4, .col-11, .col-12, .col-2, .col-md-5{
  padding: 0;
}
  
  
/* Modal Popup Invoice */


.transactions-popup .modal-header {
  background: #F6F5FF;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.transactions-popup .modal-dialog {
  max-width: 880px;
}

.transactions-popup .modal-dialog .modal-content {
  border-radius: 20px;
}

.transactions-popup .modal-dialog .modal-content .modal-header {
  padding: 30px;
}

.transactions-popup .modal-dialog .modal-content .modal-header h6 {
  font-weight: 700;
}

.transactions-popup .modal-dialog .modal-content .modal-header button {
  margin: 0;
  z-index: 1;
  border: none;
  background: none;
  background-color: var(--bs-white);
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transactions-popup .modal-dialog .modal-content .modal-header button:focus {
  box-shadow: none;
}

.transactions-popup .modal-dialog .modal-content .modal-header button {
  color: #797979;
  font-size: 32px;
}

.transactions-popup .modal-dialog .modal-content .icon-area {
  padding: 40px 0;
}

.transactions-popup .modal-dialog .modal-content .text-area h3, .transactions-popup .modal-dialog .modal-content .text-area h6 {
  font-weight: 700;
}

.transactions-popup .modal-dialog .modal-content .text-area p {
  margin: 20px 0;
}

.transactions-popup .modal-dialog .modal-content .text-area .com {
  color: #49C96D;
  font-weight: 700;
}

.transactions-popup .modal-dialog .modal-content .right-area {
  padding: 30px;
  border-left: 1px solid #E6E5FF;
}

.transactions-popup .modal-dialog .modal-content .right-area h6 {
  font-weight: 700;
  margin-bottom: 10px;
}

.transactions-popup .modal-dialog .modal-content .right-area .payment-details {
  padding: 10px 0;
  border-top: 1px solid #E6E6FF;
}

.transactions-popup .modal-dialog .modal-content .right-area .payment-details li:first-child {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
}
.transactions-popup .modal-dialog .modal-content .right-area .payment-details li:not(:first-child) {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transactions-popup .modal-dialog .modal-content .right-area .payment-details li:last-child {
  border-top: 1px solid #E6E6FF;
  border-bottom: 1px solid #E6E6FF;
}

.transactions-popup .modal-dialog .modal-content .right-area .payment-info li {
  margin-top: 15px;
  text-decoration: none !important;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
}

.transactions-popup .modal-dialog .modal-content .right-area .payment-info li p {
  color: #000000;
}

.transactions-popup .modal-dialog .modal-content .right-area .payment-info li span {
  color: #696D8D;
}

@media (max-width: 767px) {
  .transactions-popup .modal-dialog .modal-content .right-area {
    padding: 15px;
  }
  .transactions-popup .modal-dialog .modal-content .right-area {
    padding: 20px;
    border: none;
  }
  
}